body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(139, 139, 139, 0.362),rgba(144, 143, 143, 0.556)),url("images/pexels-cátia-matos-1072179.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}